<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jspservletHUHUHU</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BuildingController</display-name>
    <servlet-name>BuildingController</servlet-name>
    <servlet-class>controller.BuildingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildingController</servlet-name>
    <url-pattern>/BuildingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildingAPI</display-name>
    <servlet-name>BuildingAPI</servlet-name>
    <servlet-class>com.laptrinhjavaweb.api.BuildingAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildingAPI</servlet-name>
    <url-pattern>/BuildingAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildingControlle</display-name>
    <servlet-name>BuildingControlle</servlet-name>
    <servlet-class>controller.BuildingControlle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildingControlle</servlet-name>
    <url-pattern>/BuildingControlle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistrictAPI</display-name>
    <servlet-name>DistrictAPI</servlet-name>
    <servlet-class>api.DistrictAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistrictAPI</servlet-name>
    <url-pattern>/DistrictAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAPI</display-name>
    <servlet-name>UserAPI</servlet-name>
    <servlet-class>api.UserAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAPI</servlet-name>
    <url-pattern>/UserAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildingTypeAPI</display-name>
    <servlet-name>BuildingTypeAPI</servlet-name>
    <servlet-class>api.BuildingTypeAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildingTypeAPI</servlet-name>
    <url-pattern>/BuildingTypeAPI</url-pattern>
  </servlet-mapping>
</web-app>